<!DOCTYPE html>
<html>
	<head>
  	<meta charset="UTF-8">
  		<title>Practice Page</title>
	</head>

	<body>
		<div class="header">
			<div><span>Input Text</span></div>
		</div>
		<br>

		<div class="text input">
				<input type="text" placeholder="inputText" name="textInputReader"><br>
				<input type="button" value="Submit">
		</div>

		<br>
		<br>

		<form action="">
			<input type="radio" name="gender" value="male">Male<br>
			<input type="radio" name="gender" value="female">Female
		</form>
  	
	</body>







</html>