<!DOCTYPE html>
<html>
	<head>
  	<meta charset="UTF-8">
  		<title>Practice Page</title>
	</head>

	<body>
		<div class="header">
			<div><span>input personal information</span></div>
		</div>
		<br>

		<div class="input personal information">
				<input type="text" placeholder="Name" name="textInputReader">				
		</div>

		<br>
		
		<select>
  			<option value="Freshman">Freshman</option>
  			<option value="Sophomore">Sophomore</option>
  			<option value="Junior">Junior</option>
  			<option value="Senior">Senior</option>
  			<option value="SSenior">SuperSenior</option>
		</select>

		<br>
		<br>

		<form action="select one">
			<input type="radio" name="gender" value="male">Male<br>
			<input type="radio" name="gender" value="female">Female
		</form>

		<br>
  	
  		<div class='submitInput'>
  			<input type="button" value="Submit">
  		</div>

	</body>
</html>